<!DOCTYPE html>
<html ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="assets/css/custom-style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

    <title>Front End Master Test</title>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form ng-submit="vm.submitLocal(vm.input)">
              <div class="form-group">
                <label for="usr">Type Zip Code:</label>
                <input type="text" class="form-control" name="vm.input" ng-model="vm.input">
                <button type="submit" class="btn btn-secondary">Submit</button>
              </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <h3><li class="list-group-item">{{vm.currentWeather.item.title}}</li></h3>
            <li class="list-group-item">{{vm.currentWeather.location.country}}, {{vm.currentWeather.location.city}}, {{vm.currentWeather.location.region}}</li>
            <li class="list-group-item"> {{vm.currentWeather.item.condition.temp}} {{vm.currentWeather.units.temperature}}  </li>
            <li class="list-group-item">{{vm.currentWeather.item.condition.text}}</li>
            <!-- <li class="list-group-item">High:{{vm.currentWeather.item.condition.text}}</li>
            <li class="list-group-item">Low: {{vm.currentWeather.item.condition.text}}</li> -->
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary" id="more-data" ng-click="vm.toggle()">Show More</button>
            <ul class="list-group" id="more-data-container" ng-class="{active:vm.showMore}">
              <li class="list-group-item">Wind Speed: {{vm.currentWeather.wind.speed}}</li>
              <li class="list-group-item">Humidity: {{vm.currentWeather.atmosphere.humidity}}</li>
              <li class="list-group-item">Sunrsie: {{vm.currentWeather.astronomy.sunrise}}</li>
              <li class="list-group-item">Sunset: {{vm.currentWeather.astronomy.sunrise}}</li>
            </ul>
        </div>
      </div>

      <chart></chart>


    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/app/weatherApp.js"></script>
    <script src="js/d3.js"></script>
    <script src="js/app/controllers/WeatherController.js"></script>
    <script src="js/app/directives/chart.js"></script>
    <script src="js/app/services/WeatherService.js"></script>
    <script src="js/shapes.js"></script>

  </body>
</html>
