/*----------------------HTML ELEMENTS*/

body{
   width:100%;
   margin: 0;
   padding: 0;
   background-color: rgba(179, 175, 241, .1);
   font-family: 'Dosis', sans-serif;
   letter-spacing: .05em;
}

/*---------------------------------HEADERS*/

.jumbotron{
  width: 100%;
  padding:0px;
  margin: 0px 0px 20px 0px;
  color: #4184f3;
  box-shadow: 0 1px 1px -1px #A2A2A2;
  background: transparent;
  font-weight: bold;
}

h2{
  padding: 10px 0 30px 30px;
  margin-left: 60px;

}

.header h3{
  color: #262626;
  background: #fff;
  box-shadow: 0 1px 1px -1px #A2A2A2;
}

/*-------------------------------------NAVBAR*/

.navbar {
  background-color:#333;
  padding: 30px;
  border-radius: 0;
  margin: 0px;

}

.navbar-brand{
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  height: 0px;
  line-height: 0px;
  padding: 30px;
  border: 4px solid #fff;
  margin-left:60px;
}

.navbar .form-control{
  display: inline-block;
  color: #fff;
  width: 600px;
  height: 50px;
  margin-bottom: 10px;
  margin: 0;
  background-color: transparent;
  /*border: none;*/
  /*border-radius: 0;*/
  box-shadow: none;
  border: 1px solid rgb(255, 255, 255);
}


/*--------------------------------TEXT */
label{
  color:#fff;
}

/*------------------------------LISTS*/

ul li.list-group-item{
  width:500px;
  padding: 35px;
  background-color: rgba(255, 255, 255, 1);
  margin: 10px;
  border: none;
  box-shadow: 0 1px 1px -1px #A2A2A2;
  display: inline-block;
  color: #4184f3;
  font-weight: bold;
}

li{
  list-style: none;
}

form.form-inline{
  margin-top: 10px;
  text-align: right;
}

span.header{
  border: 2px solid #333;
  display: inline-block;
  width: 150px;
  margin: 0;
  padding: 20px;
  color: #333;
  text-align: center;
}

button.btn.btn-outline{
  background-color: transparent;
  width: 100px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  border: none;
  /*border-radius: 0;*/
  /*border-bottom: 2px solid #fff;*/
}

button.btn.btn-outline:hover{
  background:#4184f3;
}

button.btn-secondary{
  height: 60px;
  width: 200px;
  margin: 0;
  color: #fff;
  background-color: #4184f3;
}
button.btn-secondary:hover{
  background-color: #2574f7;
  color: #fff;
  border: none;
}
/*------------------------------CHART----------------------*/

.chart{
  width: 100%;
  height: 600px;
  margin: 0px auto;
  padding:30px;
  text-align: center;
  border-radius: 7px;
  background-color: #fff;
  border-radius: 7px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ea4c89;
    text: grey;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.tick text {
    fill: #ea4c89;
}

/*------------------------------BUTTON---------------------*/

form#mobile-form{
  display: none;
}


/*-----------------------------SHAPES-------------------*/

line{
  stroke: red;
  stroke-width: 2px;
}

rect{
  fill: red;
}

div.tooltip {
  position: absolute;
  padding: 15px;
  color: #fff;
  text-align: center;
  height: auto;
  font: 12px sans-serif;
  background: #333;
  border: 1px solid #000;
  border-radius: 8px;
  pointer-events: none;
}

div.tooltip:hover {
  cursor: pointer;
}

ul#more-data-container{
  display: none;
}
span.message{
  display: inline-block;
}


ul.active#more-data-container{display: block;}

/*=========================================================STOP*/
@media only screen and (max-width: 500px) {

/*Mobile Screens*/

/*----------------------HTML ELEMENTS*/

body{
   width:100%;
   margin: 0;
   padding: 0;
}

.jumbotron h2{
  border: 2px solid #333;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  color: #333;
}

ul li.list-group-item{
  padding: 20px;
  text-align: center;
}

/*------------------------------CHART----------------------*/
.chart{
  width: 100%;
  height: 600px;
  margin: 30px auto;
  padding:30px;
  text-align: center;
  border-radius: 7px;
  background: transparent;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    text: grey;
    shape-rendering: crispEdges;
}

.tick text {
    fill: #333;
}

/*------------------------------BUTTON---------------------*/

button.btn-secondary {
  background-color: rgba(240, 67, 59, .5);
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  width: 100%;
  margin: 0px auto;
}
/*-----------------------------SHAPES-------------------*/

line{
  stroke: red;
  stroke-width: 2px;
}

rect{
  fill: red;
}

div.tooltip {
  position: absolute;
  padding: 7px;
  color: #fff;
  text-align: center;
  width: 60px;
  height: auto;
  font: 12px sans-serif;
  background: #333;
  border: 1px solid #000;
  border-radius: 8px;
  pointer-events: none;
}

ul#more-data-container{
  display: none;
}

ul.active#more-data-container{display: block;}
}
